.carousel-inner {
    height: 580px;
}

.el-cascader {
    width: 100%;
}

.orderMessage{
    margin-bottom: 20px;
}

.orderMessage td{
    border: 1px solid#ececec;
}

.orderMessage span
{
    color: #666;
}
.title{
    min-width: 62px;
    display: inline-block;
    zoom: 1;
    vertical-align: top;
}

.orderInTro{
    padding: 0;
    background-color: #fbfbfb;
    text-decoration: none;
    font: 12px/1.5 Tahoma,Helvetica,Arial,sans-serif;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 12px;
    line-height: 1.5;
    font-family: Tahoma, Helvetica, Arial, sans-serif;
}

.leftTitle{
    background-color: #f3f3f3;
}
.leftTitle h3{
    margin-left: 20px;
    font-size: 12px;
    color: #333333;
}

.orderInTro li{
    padding: 5px 0px 5px 10px;
    list-style-type: none;
}

.message{
    width: 162px;
    display: inline-block;
    zoom: 1;
    color: #666;
}